<!DOCTYPE html>
<html>
  <head>
    <title>4WD Robot</title>
<style>
/* 禁用长按复制 */
*{
-webkit-touch-callout:none; /*系统默认菜单被禁用*/
-webkit-user-select:none; /*webkit浏览器*/
-khtml-user-select:none; /*早期浏览器*/
-moz-user-select:none;/*火狐*/
-ms-user-select:none; /*IE10*/
user-select:none;
}
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script type="text/javascript">
$(function() {
  $('#test').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/background_process_test',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="test";
	return false;
  });
});
//小车前进 forward
$(function() {
  $('#car_fwd').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/car_fwd',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="car_fwd vmousedown";
	return false;
  });
});
$(function() {
  $('#car_fwd').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/car_stop',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="car_fwd vmouseup";
	return false;
  });
});
// backward
$(function() {
  $('#car_bwd').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/car_bwd',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="car_bwd vmousedown";
	return false;
  });
});
$(function() {
  $('#car_bwd').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/car_stop',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="car_bwd vmouseup";
	return false;
  });
});
// left turn
$(function() {
  $('#car_left').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/car_left',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="car_left vmousedown";
	return false;
  });
});
$(function() {
  $('#car_left').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/car_stop',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="car_left vmouseup";
	return false;
  });
});
// right turn
$(function() {
  $('#car_right').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/car_right',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="car_right vmousedown";
	return false;
  });
});
$(function() {
  $('#car_right').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/car_stop',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="car_right vmouseup";
	return false;
  });
});
// 摄像头上翻
$(function() {
  $('#camera_up').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/camera_up',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="camera_up";
	return false;
  });
});
$(function() {
  $('#camera_up').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/camera_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// 摄像头下翻
$(function() {
  $('#camera_down').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/camera_down',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="camera_down";
	return false;
  });
});
$(function() {
  $('#camera_down').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/camera_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// 摄像头左转
$(function() {
  $('#camera_left').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/camera_left',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="camera_left";
	return false;
  });
});
$(function() {
  $('#camera_left').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/camera_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// 摄像头右转
$(function() {
  $('#camera_right').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/camera_right',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="camera_right";
	return false;
  });
});
$(function() {
  $('#camera_right').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/camera_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// 摄像头复位
$(function() {
  $('#camera_reset').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/camera_reset',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="camera_reset";
	return false;
  });
});
//七彩灯亮
$(function() {
  $('#light_on').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/light_on',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="七彩灯亮";
	return false;
  });
});
//七彩灯灭
$(function() {
  $('#light_off').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/light_off',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="七彩灯灭";
	return false;
  });
});
//蜂鸣器
$(function() {
  $('#buzzer').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/buzzer/true',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
$(function() {
  $('#buzzer').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/buzzer/false',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
//七彩灯
$(function() {
  $('#light').on('click', function(e) {
	e.preventDefault()
	is_light_on = $("#light").prop("checked")
	if(is_light_on)
	{
		$.getJSON('/light_on',
		  function(data) {
		  //do nothing
		});
		document.getElementById("status").innerHTML="七彩灯on";
	} else
	{
		$.getJSON('/light_off',
		  function(data) {
		  //do nothing
		});
		document.getElementById("status").innerHTML="七彩灯off";
	}
	return false;
  });
});
//雷达舵机
//左移
$(function() {
  $('#radar_left').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/radar_left',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="radar_left";
	return false;
  });
});
$(function() {
  $('#radar_left').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/radar_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
//右移
$(function() {
  $('#radar_right').on('vmousedown', function(e) {
	e.preventDefault()
	$.getJSON('/radar_right',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="radar_right";
	return false;
  });
});
$(function() {
  $('#radar_right').on('vmouseup', function(e) {
	e.preventDefault()
	$.getJSON('/radar_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// 雷达舵机复位
$(function() {
  $('#radar_reset').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/radar_reset',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="radar_reset";
	return false;
  });
});
// 雷达舵机复位左
$(function() {
  $('#radar_reset_left').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/radar_reset_left',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="radar_reset_left";
	return false;
  });
});
// 雷达舵机复位右
$(function() {
  $('#radar_reset_right').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/radar_reset_right',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="radar_reset_right";
	return false;
  });
});
// 超声波雷达避障自主行走
$(function() {
  $('#radar_self_drive').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/radar_self_drive',
	  function(data) {
	  //do nothing
	});
	document.getElementById("status").innerHTML="radar_self_drive";
	return false;
  });
});

</script>
<script language=javascript>
//获取传感器值
var int=self.setInterval("sensor_get_value()",500)
$.ajax({
url: "sensor",
type: "POST",
dataType: "json",
success: function (data) {
  document.getElementById("infrared_sensor").innerHTML=data.infrared_sensor;
  document.getElementById("track_sensor").innerHTML=data.track_sensor;
  document.getElementById("light_sensor").innerHTML=data.light_sensor;
  document.getElementById("radar_distance_calculate").innerHTML=Math.round(data.radar_distance_calculate);
}
})
function sensor_get_value()
{
	/*
	var date=new Date();
	document.getElementById("status").innerHTML=date.toLocaleTimeString();
	*/
	$.ajax({
	url: "sensor",
	type: "POST",
	dataType: "json",
	success: function (data) {
	  document.getElementById("infrared_sensor").innerHTML=data.infrared_sensor;
	  document.getElementById("track_sensor").innerHTML=data.track_sensor;
	  document.getElementById("light_sensor").innerHTML=data.light_sensor;
	  document.getElementById("radar_distance_calculate").innerHTML=Math.round(data.radar_distance_calculate);
	}
	})
	return false;
}

</script>

  </head>
  <body>
  <div data-role="panel" id="myPanel"> 
    <h2>四驱车设置</h2>
	<button id="radar_self_drive" class="ui-btn ui-corner-all ui-shadow">雷达避障自主行走</button>
	<input type="checkbox" id="camera_switch"><label for="camera_switch">摄像头切换</label>
	<label for="points">灯光选择</label>
	<ul data-role="listview" data-inset="true">    
	<li data-icon="plus"><a href="#">红</a></li>
	<li data-icon="minus"><a href="#">绿</a></li>
	<li data-icon="delete"><a href="#">蓝</a></li>
	<li data-icon="location"><a href="#">白</a></li>   
	<li data-icon="false"><a href="#">七彩循环</a></li>
	</ul>
    <form method="post" action="demoform.asp">
      <label for="points">车速</label>
      <input type="range" name="points" id="points" value="100" min="0" max="100">
    </form>
  </div>
  </div> 
  	<center>
	<div data-role="header">
	<a href="#myPanel"  id="setup" class="ui-btn ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left">设置</a>
	<h1>树莓派四驱车</h1>
	<button id="buzzer" class="ui-btn ui-corner-all ui-shadow ui-icon-audio ui-btn-icon-left">鸣笛</button>
	</div>
    <img style="max-width:100%; height: auto;" src="http://192.168.31.186:8080/?action=stream" />
    <div data-role="controlgroup" data-type="horizontal">
	<a href="#" id="car_fwd"><button class="ui-btn ui-btn-inline ui-icon-arrow-u ui-btn-icon-left">前进</button></a>
	<a href="#" id="car_bwd"><button class="ui-btn ui-btn-inline ui-icon-arrow-d ui-btn-icon-left">后退</button></a>
	<a href="#" id="car_left"><button class="ui-btn ui-btn-inline ui-icon-arrow-l ui-btn-icon-left">左转</button></a>
	<a href="#" id="car_right"><button class="ui-btn ui-btn-inline ui-icon-arrow-r ui-btn-icon-left">右转</button></a>
	</div>
    <div data-role="controlgroup" data-type="horizontal">
	<a href="#" id="camera_up"><button class="ui-btn ui-btn-inline ui-icon-arrow-u ui-btn-icon-left">上</button></a>
	<a href="#" id="camera_down"><button class="ui-btn ui-btn-inline ui-icon-arrow-d ui-btn-icon-left">下</button></a>
	<a href="#" id="camera_left"><button class="ui-btn ui-btn-inline ui-icon-arrow-l ui-btn-icon-left">左</button></a>
	<a href="#" id="camera_right"><button class="ui-btn ui-btn-inline ui-icon-arrow-r ui-btn-icon-left">右</button></a>
	<a href="#" id="camera_reset"><button class="ui-btn ui-btn-inline ui-icon-back ui-btn-icon-left">复位</button></a>
	</div>
    <div data-role="controlgroup" data-type="horizontal">
	<a href="#" id="radar_left"><button class="ui-btn ui-btn-inline ui-icon-arrow-l ui-btn-icon-left">左</button></a>
	<a href="#" id="radar_right"><button class="ui-btn ui-btn-inline ui-icon-arrow-r ui-btn-icon-left">右</button></a>
	<a href="#" id="radar_reset"><button class="ui-btn ui-btn-inline ui-icon-back ui-btn-icon-left">复位中</button></a>
	<a href="#" id="radar_reset_left"><button class="ui-btn ui-btn-inline">左</button></a>
	<a href="#" id="radar_reset_right"><button class="ui-btn ui-btn-inline">右</button></a>
	</div>

	<p id="status">状态框</p>
	<div data-role="footer" style="text-align:center;">
	  <div data-role="controlgroup" data-type="horizontal">
		<a href="#" class="ui-btn">红外 <b id="infrared_sensor">1 2</b></a>
		<a href="#" class="ui-btn">循迹 <b id="track_sensor">1 2 3 4</b></a>
		<a href="#" class="ui-btn">光敏 <b id="light_sensor">1 2</b></a>
		<a href="#" class="ui-btn">雷达 <b id="radar_distance_calculate">n/a</b>cm</a>
		<input type="checkbox" id="light"><label for="light">灯</label>
	  </div>
	</div>
    </center>
  </body>
</html>
