<html>
  <head>
    <title>4WD Robot</title>

<script src="//ajax.lug.ustc.edu.cn/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
  $('#test').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/background_process_test',
	  function(data) {
	  //do nothing
	});
	document.getElementById("demo").innerHTML="test";
	return false;
  });
});
//小车前进 forward
$(function() {
  $('#car_fwd').on('mousedown', function(e) {
	e.preventDefault()
	$.getJSON('/car_fwd',
	  function(data) {
	  //do nothing
	});
	document.getElementById("demo").innerHTML="car_fwd mousedown";
	return false;
  });
});
$(function() {
  $('#car_fwd').on('mouseup', function(e) {
	e.preventDefault()
	$.getJSON('/car_stop',
	  function(data) {
	  //do nothing
	});
	document.getElementById("demo").innerHTML="car_fwd mouseup";
	return false;
  });
});
// backward
$(function() {
  $('#car_bwd').on('mousedown', function(e) {
	e.preventDefault()
	$.getJSON('/car_bwd',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
$(function() {
  $('#car_bwd').on('mouseup', function(e) {
	e.preventDefault()
	$.getJSON('/car_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// left turn
$(function() {
  $('#car_left').on('mousedown', function(e) {
	e.preventDefault()
	$.getJSON('/car_left',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
$(function() {
  $('#car_left').on('mouseup', function(e) {
	e.preventDefault()
	$.getJSON('/car_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// right turn
$(function() {
  $('#car_right').on('mousedown', function(e) {
	e.preventDefault()
	$.getJSON('/car_right',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
$(function() {
  $('#car_right').on('mouseup', function(e) {
	e.preventDefault()
	$.getJSON('/car_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// 摄像头上翻
$(function() {
  $('#camera_up').on('mousedown', function(e) {
	e.preventDefault()
	$.getJSON('/camera_up',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
$(function() {
  $('#camera_up').on('mouseup', function(e) {
	e.preventDefault()
	$.getJSON('/camera_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// 摄像头下翻
$(function() {
  $('#camera_down').on('mousedown', function(e) {
	e.preventDefault()
	$.getJSON('/camera_down',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
$(function() {
  $('#camera_down').on('mouseup', function(e) {
	e.preventDefault()
	$.getJSON('/camera_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// 摄像头左转
$(function() {
  $('#camera_left').on('mousedown', function(e) {
	e.preventDefault()
	$.getJSON('/camera_left',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
$(function() {
  $('#camera_left').on('mouseup', function(e) {
	e.preventDefault()
	$.getJSON('/camera_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
// 摄像头右转
$(function() {
  $('#camera_right').on('mousedown', function(e) {
	e.preventDefault()
	$.getJSON('/camera_right',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
$(function() {
  $('#camera_right').on('mouseup', function(e) {
	e.preventDefault()
	$.getJSON('/camera_stop',
	  function(data) {
	  //do nothing
	});
	return false;
  });
});
//七彩灯亮
$(function() {
  $('#light_on').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/light_on',
	  function(data) {
	  //do nothing
	});
	document.getElementById("light").innerHTML="七彩灯亮";
	return false;
  });
});
//七彩灯灭
$(function() {
  $('#light_off').on('click', function(e) {
	e.preventDefault()
	$.getJSON('/light_off',
	  function(data) {
	  //do nothing
	});
	document.getElementById("light").innerHTML="七彩灯灭";
	return false;
  });
});
</script>



  </head>
  <body>
    <center>
    <img src="http://192.168.31.186:8080/?action=stream" />
	<div class="container">
	<a href="#" id="camera_up"><button class="btn btn-default">摄像头上翻</button></a>
	<a href="#" id="camera_down"><button class="btn btn-default">下翻</button></a>
	<a href="#" id="camera_left"><button class="btn btn-default">左转</button></a>
	<a href="#" id="camera_right"><button class="btn btn-default">右转</button></a>
	</div>
	<div class="container">
	<a href="#" id="test"><button class="btn btn-default">say hi</button></a>
	<a href="#" id="car_fwd"><button class="btn btn-default">前进</button></a>
	<a href="#" id="car_bwd"><button class="btn btn-default">后退</button></a>
	<a href="#" id="car_left"><button class="btn btn-default">左转</button></a>
	<a href="#" id="car_right"><button class="btn btn-default">右转</button></a>
	</div>
	<div class="container">
	<a href="#" id="light_on"><button class="btn btn-default">七彩灯亮</button></a>
	<a href="#" id="light_off"><button class="btn btn-default">七彩灯灭</button></a>
	</div>
	<p id="demo">nothing</p>
    </center>
  </body>
</html>
